{{- include _top.html }}

<div class="home-banner__map">
	<img src="/static/img/map.png" />
</div>

<div class="parallax">
	<div class="parallax__layer parallax__layer--back">
  		<img src="/static/img/fullMap.png" style="width: 100%;"/>
  	</div>
  	<div class="parallax__layer parallax__layer--base">
   		<img src="/static/img/CloudLayer1.png" style="width: 100%;"/>
	</div>
	<div class="parallax__layer parallax__layer--deep">
		<h1 class="title-wrapper__podcast-title"><span>at a</span> Higher Level</h1>
		<h2 class="title-wrapper__podcast-host">with Erik Hazzard</h2>
		<div class="podcast-tagline-web">
			<p class="podcast-tagline__paragraph-web">
				The podcast about data viz, game theory, and everything in between.
			</p>
		</div>
   		<img src="/static/img/CloudLayer2.png" style="width: 100%;"/>
	</div>
</div>
<!--<div class="site-header__title-wrapper">
	<h1 class="title-wrapper__podcast-title"><span>at a</span> Higher Level</h1>
	<h2 class="title-wrapper__podcast-host">with Erik Hazzard</h2>
	<div class="podcast-tagline-web">
		<p class="podcast-tagline__paragraph-web">
			The podcast about data viz, game theory, and everything in between.
		</p>
	</div>
</div>-->

<div class="site-header__navigation-wrapper">
	<div class="site-header__navigation-links">
		<a href="#" class="site-header__navigation-link underline-link">Episodes</a>
		<a href="#" class="site-header__navigation-link underline-link">About</a>
		<a href="#" class="site-header__navigation-link underline-link">Subscribe</a>
		<a href="#" class="site-header__navigation-link">Connect</a>
	</div>
</div>

<div class="podcast-tagline">
	<p class="podcast-tagline__paragraph">
		The podcast about data viz, game theory, and everything in between.
	</p>
</div>

<div class="episode-section__wrapper">
	<h3 class="episode-section__header">Episodes</h3>

	<div class="latest-episode__latest-episode-wrapper">
		<h2 class="latest-episode__show-name">#3 Data Viz in Games, Part 1</h2>
		<h4 class="latest-episode__show-description">Exploring the use of data in browser-based games.</h4>
		<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/7592207&amp;color=336699&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
	</div>

	<div class="all-episodes__all-episodes-wrapper">
		<h2 class="all-episodes__show-name">#2 At a Higher Level</h2>
		<h4 class="all-episodes__show-description">A contemplative look at in-app purchases.</h4>
		<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/7592207&amp;color=336699&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
	</div>

	<div class="all-episodes__all-episodes-wrapper">
		<h2 class="all-episodes__show-name">#1 The Flow State</h2>
		<h4 class="all-episodes__show-description">Finding that sweet spot in work, fun, and all areas of life.</h4>
		<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/7592207&amp;color=336699&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
	</div>

	<a href="#" class="all-episodes__button [ button ]">All Episodes</a>

</div>

<div class="about-wrapper">
	<div class="about-wrapper__text-content">
		<h3 class="about-wrapper__about-title">About</h3>
		<p class="about-wrapper__paragraph">
			At a Higher Level is a podcast dedicated to all things related to video games and data viz, including books, interviews, and other awesome resources.
		</p>
		<p class="about-wrapper__paragraph">
			Check out the show notes for each episode for links to other great content, and to find out more about the topics from the episode.
		</p>
		<p class="about-wrapper__paragraph">
			Erik Hazzard is a video game designer, full-stack web developer, co-founder of Five.com, data-viz enthusiast, bearded he-man, and awesome guy who loves to talk about and share his interests with others.
		</p>

		<div class="about-wrapper__social-links">
			<i class="fa fa-reddit"></i>
			<i class="fa fa-soundcloud"></i>
			<i class="fa fa-twitter"></i>
			<i class="fa fa-facebook"></i>
		</div>
	</div>
</div>

<div class="subscribe-wrapper">
	<h3 class="subscribe-wrapper__title">Subscribe</h3>
	<p class="subscribe-wrapper__paragraph">
		Get brand new episodes delivered to your inbox!
	</p>
	<form class="subscribe-wrapper__form">
	  <div class="row">
	    <div class="large-8 columns">
	      <div class="row collapse">
	        <div class="small-7 columns">
	          <input type="text" placeholder="Email Address">
	        </div>
	        <div class="small-5 columns">
	          <a href="#" class="button postfix">Subscribe</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</form>
</div>

{{- include _bottom.html }}
















